go 1.25.3

use (
	.
	./gormx
	./gormx/mysql
	./gormx/pg
	./gormx/sqlite
	./jsx
	./urlx/charset
	./urlx/codec/form
	./urlx/codec/html
	./urlx/codec/json
	./urlx/codec/multipart
	./urlx/codec/xml
	./urlx/codec/yaml
	./urlx/compress
	./urlx/proxy
	./urlx/types
)
